html { 
  background: url(landscape.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

h1 {
	text-align: left;
	text-transform: lowercase;
	color: #f7e6f6;
    font-family: "Amiko";
    font-size: 48
}
h2 {
	
	text-transform: lowercase;
	color: #f7e6f6;
    font-family: "Amiko";
    font-size: 72;
}
div.linksdiv {
    text-align: center;
    font-size:36;
    margin-left: auto;
    margin-right: auto;
}