html { 
  background: url(landscape.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

h1 {
	text-align: left;
	text-transform: uppercase;
	color: #f7e6f6;
    font-family: "Amiko";
}